<!--css file for login.jsp-->
* {
            margin: 0;
            padding: 0;
            font-family: "Microsoft YaHei", sans-serif;
            font-size: 12px;
        }
        
        .input_box {
            float:top;
            width: 350px;
            margin: 0 auto;
            overflow: hidden;
            margin-left:20px;
            margin-top:10px;
        }
        
        .input_box input {
        width: 348px;
        height: 40px;
        font-size: 14px;
        border: solid 1px #ddd;
        text-indent: 10px;
        outline: none;
        line-height: 40px;
    	}
    	
    	.input_box button {
            width: 350px;
            height: 50px;
            background: #3f89ec;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            color: #FFF;
        }
        
        .box {
            width: 400px;
            height: 850px;
            border: solid 1px #ddd;
            background: #FFF;
            position: absolute;
            left: 50%;
            top: 42%;
            margin-left: -200px;
            margin-top: -200px;
        }
        
        .box h1 {
            font-weight: normal;
            color: #e198b4;
            font-size: 20px;
            line-height: 46px;
            height: 46px;
            overflow: hidden;
            text-align: center;
            border-bottom: solid 1px #ddd;
            background: #f7f7f7;
        }
        .cent-box-header{
			text-align: center;
		}
        .logo{
        	width: 160px;
			height: 74px;
			margin: 0 auto;
			background: url('images/logo.png');
			background-size: contain;
        }
        
        .box h2 {
            font-weight: normal;
            color: #666;
            font-size: 16px;
            line-height: 46px;
            height: 46px;
            overflow: hidden;
            text-align: center;
            border-bottom: solid 1px #ddd;
            background: #f7f7f7;
        }
        
        .box h3 {
            font-weight: normal;
            color: #e198b4;
            font-size: 14px;
            line-height: 46px;
            height: 46px;
            overflow: hidden;
            text-align: center;
            border-bottom: solid 1px #ddd;
            background: #f7f7f7;
        }
        
        .button_box input {
            width: 165px;
            height: 48px;
            background:#e198b4;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            color: #FFF;
        }
        
        .box .reg_button button{
        	width: 350px;
        	height: 48px;
        	background:#e198b4;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            color: #FFF;
        }
        
        .box .update_button button{
        	width: 48px;
        	height: 30px;
        	background:#f8bbd0;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            color: #FFF;
        }
        
        #tips_box {
            height: 30px;
            width: 350px;
            margin: 0 auto;
            line-height: 40px;
            color: #fc4343;
        }
        
         #choice{
    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat; 
        margin-top: 10px;
        width: 350px;
        height: 30px;
        border-bottom: solid 10px #ddd;
        overflow: hidden;
        border: solid 1px #ccc;
        margin-left:20px;
        
    }

    #choice select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;
    padding-left:10px;
    width: 350px;
    height:100%; 
    }
    
    #delivery{
    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat; 
        margin-top: 10px;
        width: 350px;
        height: 30px;
        border-bottom: solid 10px #ddd;
        overflow: hidden;
        border: solid 1px #ccc;
        margin-left:20px;
        
    }

    #delivery select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;
    padding-left:10px;
    width: 350px;
    height:100%; 
    }
   }