@CHARSET "UTF-8";

div{
	display: block;
}

.container{
	background-color: #f5f5f5;
}

.w{
	width: 1210px;
	margin: 0 auto;
}

.main{
	width: 99.9%;
	margin-left: -120px;
	overflow: hidden;
}

.mycomment-hd {
    width: 100%;
    margin-bottom: 20px;
}

.mycomment-bd {
    width: 100%;
    background: #fff;
}

.m-tab-wrap {
    width: 100%;
    height: 60px;
}

.m-tab {
    float: left;
    height: 60px;
    padding-left: 20px;
}

.m-tab .tab-trigger {
    float: left;
    height: 22px;
    margin-top: 19px;
    list-style: none;
}

.m-tab .tab-trigger .trig-item {
    position: relative;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: 20px;
    list-style: none;
}

.m-tab .tab-trigger .trig-item.trig-curr .text {
    padding-top: 2px;
    height: 18px;
    line-height: 18px;
    border-bottom: 2px solid #e4393c;
    font-weight: 700;
    color: #e4393c;
}

.m-tab .tab-trigger .trig-item .text {
    display: inline-block;
    vertical-align: top;
    font: 12px/22px SimSun;
    color: #333;
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.mycomment-table {
    padding: 0 20px 20px;
}

.order-tb {
    width: 100%;
    border-collapse: collapse;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.order-tb .sep-row {
    height: 20px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.order-tb .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    _display: inline;
}

.order-tb .tr-bd {
    text-align: center;
    vertical-align: top;
}